<div class="homelogo">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>

<div><img class="profile-img" width="70px" height="70px" src= {{userFromDB.imageUrl}} alt=""/></div>

<h1>Welcome {{userFromDB.username}}</h1>

<p><strong>This is your profile page</strong></p>

<p><strong>Your current email is</strong> {{userFromDB.email}}</p>

<p><strong>Your favorite coins are:</strong> </p>
{{#each data}}
 <li class="each-coin"><img src = "{{data.image.thumb}}" /><a class="coin-name" href = "/coin-detail/{{data.id}}">{{data.id}}</a> </li>
{{/each}}

<a href="/profile/edit-profile/{{this.userFromDB._id}}"><button class="button">Edit Profile</button></a>

<a href="/select-favorites"><button class="button">Edit your favorites</button></a>

<form class= "form" action="/auth/logout" method="POST"><button class="button" type="submit">Log Out</button></form>

