<div class="top-bar">
<img width="30px" height="30px" src="/img/arrow-back.png"<button onclick="history.back()"></button>
<div class="logo-name">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>
</div>

<div><img class="profile-img" width="70px" height="70px" src= {{userFromDB.imageUrl}} alt=""/></div>

<h1>Welcome {{userFromDB.username}}</h1>

<div class="profile-info">
<p><strong>This is your profile page</strong></p>

<p><strong>Your current email is</strong> {{userFromDB.email}}</p>

<p><strong>Your favorite coins are:</strong> </p>
</div>
{{#each data}}
 <li class="each-coin">
    <div class="card-first-group">
        <img width="35px" height="35px" src = "{{data.image.thumb}}" />
        <div class="card-second-group">
            <a class="coin-name" href = "/coin-detail/{{data.id}}">{{data.id}}</a>
            <p class="coin-name">{{data.symbol}}</p>
        </div>
    </div>
    <div>
        <p>{{data.market_data.current_price.usd}} $</p>
        <p>{{data.market_data.price_change_percentage_24h}}%</p>
    </div> 
 </li>
{{/each}}

<a href="/profile/edit-profile/{{this.userFromDB._id}}"><button class="button">Edit Profile</button></a>



<form class= "form" action="/auth/logout" method="POST"><button class="button" type="submit">Log Out</button></form>

