<div class="top-bar">
<img width="30px" height="30px" src="/img/arrow-back.png"<button onclick="history.back()"></button>
<div class="logo-name">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>
</div>

<h1>{{data.data.id}} details</h1>

<p> The current price of {{data.data.id}} is: {{data.data.market_data.current_price.usd}}$</p>

<p> The Market cap is: {{data.data.market_data.market_cap.usd}}$</p>

<p>Price change percentage in the last 24h: {{data.data.market_data.price_change_percentage_24h}}%</p>

<p class="last-days">Last 7 days</p>
<div class="chartBox">
    <canvas id="myChart"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7'],
        datasets: [{
            data: [{{sparkline}}],
            backgroundColor:'#33B1FF',
            borderColor:'#33B1FF',
            borderWidth: 2,
            pointRadius:0
        }]
    },
    options: {
        scales: {
            x:{
                beginAtZero: false,
                display:false
            },
            y: {
                beginAtZero: false,
                display:true,
                
               
            }
        },
        plugins:{
            legend:{
                display:false,
                 }
        }
    }
});
</script>

<a  href="/all-coins"><button class="button">Back to all coin list</button></a>

<a  href="/comments/{{data.data.id}}"><button class="button">Join the discussion</button></a>



