<script>
          </script>

<div class="top-bar">
<img width="30px" height="30px" src="/img/arrow-back.png"<button onclick="history.back()"></button>
<div class="logo-name">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>
</div>

<h1>Hello {{capitalizeFirstLetter user.username}}</h1>

<p>Please write your comment below and join the discussion of <strong>{{capitalizeFirstLetter data.data.id}}</strong></p>


<div>
  <form action="/comments/{{data.data.id}}" method="POST">

  <div class="form"> 
    <label>Comment</label>
      <input class="formbox" type="text" name="comment" placeholder="Write your comment here..." />
  </div>

   
      <input class="coin-commented" type="text" name="coinComment" value="{{data.data.id}}" />

      <input class="coin-commented" type="text" name="commentingUser" value="{{user.username}}" />

      <input class="coin-commented" type="text" name="userImage" value={{user.imageUrl}} >
  

   


    <div class="form"> 
    <button class= "button" type="submit">Post Comment</button>
    </div>
 
  </form>
</div>

  <h2>Comments:</h2>

  <div>

  {{#each userComment}}

  <div class="comment-block"><img class="profile-img" width="20px" height="20px" src="{{userImage}}"/><p class="commenting-user"><strong>{{commentingUser}}</strong></p> said:</div>

  <p>{{comment}}</p>

  <p>Date: {{timeFix createdAt}}</p>

  {{/each}} 

  </div> 