<div class="homelogo">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>

<h1>Hello {{user.username}}</h1>

<p>Please write your comment below and join the discussion of <strong>{{data.data.id}}</strong></p>


<div>
  <form action="/comments/{{data.data.id}}" method="POST">

  <div class="form"> 
    <label>Comment</label>
      <input class="formbox" type="text" name="comment" placeholder="Write your comment here..." />
  </div>

   
      <input class="coin-commented" type="text" name="coinComment" value="{{data.data.id}}" />

      <input class="coin-commented" type="text" name="commentingUser" value="{{user.username}}" />
  

   


    <div class="form"> 
    <button class= "button" type="submit">Post Comment</button>
    </div>
 
  </form>
</div>

  <h2>Comments:</h2>

  <div>

  {{#each userComment}}

  <p><strong>{{commentingUser}} said:</strong></p>

  <p>{{comment}}</p>

  {{/each}} 

  </div> 