<div class="top-bar">
<img width="30px" height="30px" src="/img/arrow-back.png"<button onclick="history.back()"></button>
<div class="logo-name">
<img class="logo" src="/img/cryptologo.png"/><h1>Ironcrypto</h1>
</div>
</div>

<h1>Welcome to your favorite coins</h1>

{{#each data}}
<a class="card" href = "/coin-detail/{{data.id}}">
    <li class="each-coin">
    
        <div class="card-first-group">
            <img width="35px" height="35px" src = "{{data.image.thumb}}" />
            <div class="card-second-group">
                <p class="coin-name" >{{capitalizeFirstLetter data.id}}</p>
                <p class="coin-name">{{capitalizeFirstLetter data.symbol}}</p>
            </div>
        </div>
        <div>
            <p>{{data.market_data.current_price.usd}} $</p>
            <p class="myDIV">{{data.market_data.price_change_percentage_24h}}%</p>
        </div>    
    </li>
  </a>
    <script>
       if({{data.market_data.price_change_percentage_24h}} < 0){
    myFunction()
   }

function myFunction() {
   const element = document.getElementsByClassName("myDIV");
   for (let i = 0 ; element.length; i++){
   element[i].style.backgroundColor = "red";
   }   
}
</script>
{{/each}}

<a href="/select-favorites"><button class="button">Edit your favorites</button></a>